<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88b285">  <td>20/05/08 13:04:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testbase.Applicatonsetup()[pri:0, instance:com.test.test1@62fdb4a6]">&gt;&gt;Applicatonsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1146147158</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>20/05/08 13:04:59</td>   <td>18301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.m2()[pri:0, instance:com.test.test1@62fdb4a6]">m2</td> 
  <td>main@1146147158</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>20/05/08 13:04:59</td>   <td>18317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.sample()[pri:0, instance:com.test.test1@62fdb4a6]">sample</td> 
  <td>main@1146147158</td>   <td></td> </tr>
<tr bgcolor="88b285">  <td>20/05/08 13:05:02</td>   <td>21122</td> <td>&nbsp;</td><td title="&lt;&lt;testbase.close()[pri:0, instance:com.test.test1@62fdb4a6]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1146147158</td>   <td></td> </tr>
</table>
